.cart-link {
  cursor: pointer;
  @include rem(25);
  color: $white;
  position: relative;
}

.cart-counter {
  position: absolute;
  left: 21px;
  top: 15px;
  bottom: 0;
  right: 0;

  background-color: #610004;
  padding: 10px;
  border-radius: 100px;
  line-height: 10px;
  @include rem(15);
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
  height: 28px;
  width: 28px;
}
