.section-testimonials {
  padding: 40px 100px;

  // background-color: $lightbrown;
  background-color: $brown;
}

.testimonials__content {
  display: flex;
  // font-style: italic;
  // text-align: center;
  padding: 40px 60px;
  // border: solid #918363 2px;
  border-radius: 10px;
  // width: 710px;
  color: #424242;
  // color: #918363;
  // color: #837659;
  @include rem(16);
  font-weight: 400;
  line-height: 24px;
  background-color: $brown;
  // background-color: $lightbrown;
  margin-bottom: 10px;
  // box-shadow: 10px 10px 8px #918363;
  justify-content: center;
  text-align: center;
}

.testimonials__img-wrap {
  display: flex;
  justify-content: center;
}
// .wrap {
//   text-align: center;
//   padding: 40px 70px;
//   border: solid #918363 2px;

//   color: #837659;
//   @include rem(16);
//   // font-weight: 700;
//   line-height: 24px;

// }

.testimonials__title {
  font-weight: 700;
  @include rem(20);
  text-transform: uppercase;
  color: #918363;
  text-align: center;
}

.testimonials__name {
  text-transform: uppercase;
  @include rem(14);
  font-weight: 700;
  color: #837659;
}

.testimonials__icon {
  @include rem(25);
  margin-bottom: 30px;
  color: #837659;
}

.testimonials__position {
  // text-transform: uppercase;
  @include rem(13);
  font-weight: 400;
  color: #837659;
}

.testimonials__img {
  border: solid #837659 5px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  // display: flex;
  // justify-content: center;
}

.testimonials__img-wrap {
  display: flex;
  justify-content: center;
}
