$basic-font-size: 16;

$white: #ffffff;
$brown: #aa9b77;
$lightbrown: #f5f6f7;
$darkbrown: #424242;

/**
*Bootstrap breakpoints FTW
**/
$super-large: 1240px;
$extra-large: 1220px;
// $min-large: 1192px;
$large: 992px;
$medium: 768px;
$small: 576px;
$extra-small: 351px;
$extra-large-large: 1200px;
