@mixin container {
  max-width: 1150px;

  margin: 0 auto;

  //   @media screen and (max-width: 1140px) {
  //     width: 920px;
  //   }
}

@mixin ui-reset-btn {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin extra-large {
  @media screen and (max-width: $extra-large) {
    @content;
  }
}

// @mixin min-large {
//   @media screen and (max-width: $min-large) {
//     @content;
//   }
// }

@mixin large {
  @media screen and (max-width: $large) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: $medium) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $small) {
    @content;
  }
}

@mixin extra-small {
  @media screen and (max-width: $extra-small) {
    @content;
  }
}

@mixin super-large {
  @media screen and (max-width: $super-large) {
    @content;
  }
}

@mixin mega-large {
  @media screen and (max-width: $mega-large) {
    @content;
  }
}

@mixin rem($size) {
  font-size: $size / $basic-font-size + rem;
}
